body {
  font-family: sans-serif;
  text-align: center;
}

/* Card Section */

.card {
  margin: auto;
  padding: 0;
}

/* Top Image */

.top-img {
  position: relative;
  bottom: 20rem;
  right: 20rem;
}

/* Heading Section  */

.card-img {
  width: 100%;
}

.bottom-img {
  position: relative;
  top: 30rem;
  right: 15rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
